Package: com.naken.smsninja
Name: SMSNinja
Depends: mobilesubstrate, libstatusbar, libhide, firmware (>= 5.0)
Architecture: iphoneos-arm
Description: SMSNinja 
Maintainer: snakeninny
Author: snakeninny
Section: Applications
Conflicts: com.sogou.sogouhaomatong, com.qq.qqcontactsbreak, iblacklist, net.qihoo.360safe
Replaces: com.sogou.sogouhaomatong, com.qq.qqcontactsbreak, iblacklist, net.qihoo.360safe
Version: 1.5-234
Installed-Size: 2780
