Package: com.naken.libsmsninja
Name: libsmsninja
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 1.0
Architecture: iphoneos-arm
Description: libsmsninja
Maintainer: snakeninny
Author: snakeninny
Section: Tweaks
