Package: com.naken.smsninja
Name: SMSNinja
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 1.5
Architecture: iphoneos-arm
Description: SMSNinja 
Maintainer: snakeninny
Author: snakeninny
Section: Applications
Conflicts: com.sogou.sogouhaomatong, com.qq.qqcontactsbreak, iblacklist, net.qihoo.360safe
Replaces: com.sogou.sogouhaomatong, com.qq.qqcontactsbreak, iblacklist, net.qihoo.360safe
