Package: com.naken.libsmsninja
Name: libsmsninja
Depends: mobilesubstrate, libstatusbar, libhide
Architecture: iphoneos-arm
Description: libsmsninja
Maintainer: snakeninny
Author: snakeninny
Section: Tweaks
Version: 1.0-243
Installed-Size: 320
