<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldRevealPrivatelistOutsideSMSNinja</key>
	<true/>
	<key>launchCode</key>
	<string></string>
	<key>shouldShowStatusBarBadge</key>
	<false/>
	<key>shouldHideIcon</key>
	<false/>
	<key>appIsOn</key>
	<true/>
	<key>fakePassword</key>
	<string></string>
	<key>shouldClearSpam</key>
	<false/>
	<key>shouldIncludeContactsInWhitelist</key>
	<false/>
	<key>shouldShowIconBadge</key>
	<true/>
	<key>shouldShowSemicolon</key>
	<false/>
	<key>shouldShowPurpleSquare</key>
	<false/>
	<key>startPassword</key>
	<string></string>
	<key>whitelistCallsOnlyWithBeep</key>
	<false/>
	<key>whitelistCallsOnlyWithoutBeep</key>
	<false/>
	<key>whitelistMessagesOnlyWithBeep</key>
	<false/>
	<key>whitelistMessagesOnlyWithoutBeep</key>
	<false/>
</dict>
</plist>
